:root {
	--red: #A72608;
	--blue: #08415C;
	--black: #070707;
	--silver: #C2C1C2;
	--gray: #515052;
	--white-whisper: #EAEAEA;
	--white: #FFF;

	--font-family-default: 'Open Sans', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--font-family-header: 'Montserrat', Helvetica, Arial, sans-serif;
	--font-family-button: 'Archivo', Georgia, Times, serif;
	--font-family-title: 'Playfair Display', Georgia, Times, serif;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: var(--font-family-default);
	font-size: 14px;
	line-height: 1.5;
	color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.8em 0;
	font-weight: 400;
}

h1 {
	font-family: var(--font-family-title);
	font-size: 2em;
}

h2 {
	font-family: var(--font-family-title);
	font-size: 1.8em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.button {
	font-family: var(--font-family-button);
	display: inline-block;
	background-color: var(--blue);
	color: var(--white);
	border: 3px solid var(--white);
	padding: 1em;
	border-radius: 3px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

@keyframes color-change-black-to-silver {
	from {color: var(--black);}
	to {color: var(--silver);}
}