:root {
	--red: #A72608;
	--green: #4ba265;
	--blue: #08415C;
	--blue-tint-3: #5293af;
	--blue-light: #4B88A2;
	--blue-tint-2: #a2c5d4;
	--blue-tint-1: #e5eff3;
	--blue-tint-0: #f3f7f9;
	--blue-transparent: #08415C77;
	--black: #070707;
	--gray-dark: #222222;
	--gray: #515052;
	--gray-light: #787878;
	--silver: #C2C1C2;
	--white-whisper: #EAEAEA;
	--white: #FFF;
	--white-transparent: #FFFFFF77;

	--font-family-default: 'Lato', Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--font-family-header: 'Noto Sans JP', Helvetica, Arial, sans-serif;
	--font-family-title: 'Playfair Display', Georgia, Times, serif;
}

* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	position: relative;
	height: 100vh;
	margin: 0;
	font-family: var(--font-family-default);
	font-size: 14px;
	line-height: 1.5;
	color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
}

h1 {
	font-family: var(--font-family-title);
	font-size: 2em;
	font-weight: 500;
}

h2 {
	font-family: var(--font-family-title);
	font-size: 1.6em;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

svg {
	height: 48px;
	width: 48px;
	fill: var(--white);
}

#sapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	align-content: flex-start;
}

.button {
	font-family: var(--font-family-button);
	display: inline-block;
	background-color: var(--blue);
	color: var(--white);
	border: 3px solid var(--white);
	padding: 1em;
	border-radius: 3px;
	text-decoration: none;
}

.button:hover {
	background-color: var(--red);
	color: var(--white);
	animation-name: background-color-change-blue-to-red;
	animation-duration: 450ms;
	text-decoration: none;
	cursor: pointer;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

@keyframes color-change-black-to-silver {
	from {color: var(--black);}
	to {color: var(--silver);}
}

@keyframes background-color-change-blue-to-red {
	from { background-color: var(--blue); }
	to { background-color: var(--red); }
}

@keyframes color-change-level1 {
	from {
		background-color: var(--blue-tint-2);
		color: var(--gray);
	}
	to {
		background-color: var(--red);
		color: var(--white);
	}
}